<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB27dpZd1m14SBwT8iUM_jeXCn8k6RvCg</string>
	<key>GCM_SENDER_ID</key>
	<string>685114492960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learning</string>
	<key>PROJECT_ID</key>
	<string>teach-up-9fa50</string>
	<key>STORAGE_BUCKET</key>
	<string>teach-up-9fa50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685114492960:ios:203e1309afe18fc0199445</string>
</dict>
</plist>